* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
}

:focus {
    outline: none;
}

:root {
    --background-color: #F1F1F1;   
    --primary-color: #121212;

    font-size: 62.5%;
}


body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: 1.6rem;
    width: 100vw;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__text {
    margin-block: 5rem 10rem;
}

.input__container {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    padding: 1rem;
    width: 100%;
    border:1px solid #d2d2d2;
    background-color: transparent;
    margin-top: 1rem;
}


button {
    padding: 1rem;
    background-color: #8257E5;
    color: var(--background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 4rem;

    transition: ease .2s all;
}

button:hover {
    background-color: #7a50dd;
}